
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{_layouts/login-register-layout}">
<head>
	<title>Login</title>
</head>
<body class="bg-white">

    <!-- Page content -->
    <div class="container mt--9 pb-5 text-gray" layout:fragment="content">
		<div class="row justify-content-center">
        	<div class="col-lg-5 col-md-7">
          		<div class="card bg-secondary border border-soft mb-0">
            		<div class="card-body px-lg-5 py-lg-5">
	              		<div class="text-center mb-4"><small>Sign in dengan akun anda.</small></div>
	              		<form method="post" th:action="@{/authenticate}">
	                		<div class="form-group mb-3">
	                  			<div class="input-group input-group-merge input-group-alternative">
	                    			<div class="input-group-prepend">
	                      				<span class="input-group-text"><i class="ni ni-hat-3"></i></span>
	                    			</div>
	                    			<input class="form-control" placeholder="Username" type="text">
	                  			</div>
	                		</div>
	                		<div class="form-group">
	                  			<div class="input-group input-group-merge input-group-alternative">
	                    			<div class="input-group-prepend">
	                      				<span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
	                    			</div>
	                    			<input class="form-control" placeholder="Password" type="password">
	                  			</div>
	                		</div>
	                		<div class="text-center">
	                  			<button type="submit" class="btn btn-primary my-4">Sign in</button>
	                		</div>
	              		</form>
	            	</div>
          		</div>
	          	<div class="row mt-3">
	            	<div class="col-6 text-right">
	              		<a href="#" class="text-gray"><small>Buat akun baru!</small></a>
	            	</div>
	          	</div>
        	</div>
      	</div>
    </div>
    
</body>
</html>